image: Visual Studio 2017

platform:
  - x64
 
configuration:
  - Release

before_build:
    - cmake --debug-output -G "Visual Studio 15 2017 Win64" . -DQt5_DIR="C:\Qt\5.12.1\msvc2017_64\lib\cmake\Qt5"

build:
  project: $(APPVEYOR_BUILD_FOLDER)\$(APPVEYOR_PROJECT_NAME).sln
