# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build directories
build*/
cmake-build*/

# Clion files
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/shelf/
.idea/dataSources.ids
.idea/datasources.xml
.idea/*.iml
.idea/modules.xml
.idea/gradle.xml
.idea/libraries/*.xml
