[submodule "externals/mem64"]
    path = externals/mem64
    url = https://github.com/net64-mod/mem64.git
    branch = master

[submodule "externals/mupen-builds"]
    path = externals/mupen-builds
    url = https://github.com/net64-mod/net64-mupen-builds.git

[submodule "externals/enet-lib"]
    path = externals/enet-lib
    url = https://github.com/lsalzman/enet
[submodule "externals/open-vcdiff"]
	path = externals/open-vcdiff
	url = https://github.com/google/open-vcdiff.git